body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image{
 height: auto;
 width: 300px;

}

.greenVote {
    color: green;
    font-weight:bold;
}
.redVote {
    color: red;
    font-weight:bold;
}

.zero{
    color: black;

}
.ng-enter {
  animation: fadeInRight 1s;
}

.ng-leave {
  animation: fadeOutRight 1s;
}
